body{
    background-color: grey;;
}
#container{
    height: 300px;
    width: 600px;
    background-color: purple;
    margin:0px auto;
    border: 2px solid white;
    text-align: center;
}

#button{
    height:50px;
    width: 200px;
    margin:50px auto;
    text-align: center;
    font-size: 15px;
    /* border: 2px solid black; */
}

#output{
    margin: 15px auto;
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
}